---
import Image from './Image.astro';
import { images } from '../../static/images';

type ImageType = {
  id: number;
  name: string;
  description: string;
  src: string;
};

const imageArray: ImageType[] = images;
---

<div class="flex flex-wrap gap-4">
  {imageArray.map((image) => (
    <Image
      src={image.src}
      alt={image.name}
      name={image.name}
      description={image.description}
    />
  ))}
</div>